:root[data-theme="dark"] {
  --text: #f8f9fc;
  --background: #030407;
  --primary: #0d42ee;
  --secondary: #0f1424;
  --accent: #4a63b5;
}

.searchbar form {
  background-color: var(--background);
  border: 2px solid var(--primary);
}

.searchbar input[type="text"] {
  background-color: var(--background);
  color: var(--text);
}

.shimmer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shimmer-circle {
  width: 100px;
  height: 100px;
  border: 15px solid transparent;
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
